.footer-img {
    height: 80%;
    width: 40%;
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px #86fb6c;
}

.footer-div {
    padding-left:;
    display: flex;
    flex-wrap: wrap;
    align-content: center
}
html,body {
    height: 100%;
}
.logo-position {
    max-height: 100%;
    max-width: 100%;
}

#logo {
    height: 10em;
    width: 10em;
}

.front-box {
    background-color: 	#1b631b;
    color: #fff;
    margin: 15px;
    border-style: outset;
    border-width: 3px;
    border-color: #86fb6c;
}

h6 {
    text-align: center;
}

body {
    background-color: black;
}

.nav-color {
    color: #fff;;
    font-size: 30px;
}

body {
    background-image: url(../images/bgnew.jpg);
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    background-position-x: top;
    background-position-y: top ;
}

.img-front {
    padding-top: 10px;
    padding-bottom: 20px;
}

.spacing {
    width: 100%;
    height: 8rem;
    opacity: 0.0;
}

.spacing-header {
    width: 100%;
    height: 3rem;
    opacity: 0.0;
}

#contact-box {
    background-color: #1b631b;
    border-style: outset;
    border-width: 3px;
    border-color: #86fb6c;
}

#contact-h {
    color: #fff;
    font-size: 40px;
}

#contact-h2 {
    color:#86fb6c;
    font-size: 40px;
}

#contact-1 {
    color: #fff;
    font-weight: bold;
}

#contact-3 {
    color: grey;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #fff;
    width: 500px;
    max-width: 80%;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 0;
    pointer-events: all;
}