.footer-img {
    height: 90%;
    width: 60%;
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px #86fb6c;
}

.footer-div {
    padding-left:;
    display: flex;
    flex-wrap: wrap;
    align-content: center
}
html,body {
    height: 100%;
}
.logo-position {
    max-height: 100%;
    max-width: 100%;
}

#logo {
    height: 10em;
    width: 10em;
}

.front-box {
    background-color: 	#143d14;
    color: #fff;
    margin: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: #86fb6c;
}

h6 {
    text-align: center;
}

body {
    background-color: black;
}

.nav-color {
    color: #fff;;
    font-size: 30px;
}

body {
    background-image: url(../images/bgnew.jpg);
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    background-position-x: top;
    background-position-y: top ;
}

.img-front {
    padding-top: 10px;
    padding-bottom: 20px;
}

.spacing {
    width: 100%;
    height: 8rem;
    opacity: 0.0;
}

.spacing-header {
    width: 100%;
    height: 3rem;
    opacity: 0.0;
}