.footer-img {
    height: 3.2rem;
    width: 3.5rem;
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 5px #86fb6c;
}

html,body {
    height: 100%;
}
.logo-position {
    max-height: 100%;
    max-width: 100%;
}
.inline {
    display: inline-block;
}
#logo {
    height: 10em;
    width: 10em;
}

#black {
    color: black;
}

.front-box {
    background-color: 	#1b631b;
    color: #fff;
    margin: 15px;
    border-style: outset;
    border-width: 3px;
    border-color: #86fb6c;
    box-shadow: 2px 2px 5px #86fb6c;
}

h6 {
    text-align: center;
}

.front-p {
    text-align: center;
}


.nav-color {
    color: #fff;;
    font-size: 30px;
}

body {
    background-image: url(../images/bg-5.jpg);
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    background-position-x: top;
    background-position-y: top ;
}

.img-front {
    padding-top: 10px;
    padding-bottom: 20px;
}

.spacing {
    width: 100%;
    height: 8rem;
    opacity: 0.0;
}

.spacing1 {
    width: 100%;
    height: 4rem;
    opacity: 0.0;
}

.spacing-header {
    width: 100%;
    height: 3rem;
    opacity: 0.0;
}

.spacing-2{
    width: 100%;
    height: 1.5rem;
    opacity: 0.0;
}

#contact-box {
    background-color: #1b631b;
    border-style: outset;
    border-width: 3px;
    border-color: #86fb6c;
}

#contact-h {
    color: #fff;
    font-size: 40px;
}

#contact-h2 {
    color:#86fb6c;
    font-size: 40px;
}

#contact-1 {
    color: #fff;
    font-weight: bold;
}

.contact-3 {
    color: #fff;
}

.map {
    color: #fff;
    text-align: left;
    opacity: 0.7;
}

.map-1 {
    color: #fff;
    text-align: left;
    opacity: 0.7;
}

.newmain {
    max-width: 50%;
    max-height: 50%;
    display: block;
}

.bg-road1:hover {
    background-color: #71d45b;
}

.bg-road2:hover {
    background-color: #5bc2d4;
}

.bg-road3:hover {
    background-color: #5b77d4;
}

.bg-road4:hover {
    background-color: #bed45b;
}

.bg-road5:hover {
    background-color: #d4695b;
}
#charles {
    width: 10rem;
    height: 10rem;
}

.header-about {
    text-align: center;
}

.about {
    color: #fafafa;
    background-color: #1b631b;
    border-style: outset;
    border-width: 3px;
    border-color: #86fb6c;
}
#input {
    width: 220px;
    height:120px;
}

#cardano-logo{
    width: 20rem;
    height: 10rem;
}

.staking {
    color: #fafafa;
    opacity: 0.6;
}

.staking h3 {
text-align: center;
text-decoration: underline;
}